<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="ehCacheManager" class="org.springframework.cache.support.NoOpCacheManager"/>

    <beans profile="jpa,datajpa">
        <bean class="org.springframework.beans.factory.config.PropertyOverrideConfigurer">
            <property name="properties">
                <props>
                    <prop key="entityManagerFactory.jpaPropertyMap[hibernate.cache.use_second_level_cache]">false</prop>
                    <prop key="entityManagerFactory.jpaPropertyMap[hibernate.cache.use_query_cache]">false</prop>
                    <prop key="entityManagerFactory.jpaPropertyMap[hibernate.cache.region.factory_class]">
                        org.hibernate.cache.internal.NoCachingRegionFactory
                    </prop>
                </props>
            </property>
        </bean>
    </beans>
</beans>